extends layout

block content
    #main
        article
            section
                p#heading Introduction to 
                img#logo(src='img/hapi.png')
                p#by By Mark Wolfe

            section
                h1 What is hapi?
                ul
                    li Built on top of Node.JS
                    li Developed by a team at Walmart Labs
                    li Out of the box it includes:
                    ul
                        li Authentication
                        li Validation
                        li Caching
                        li Batching
                        li And more..
            section
                h1 Auth
                img.hawk(src='img/hawk.png')
                ul
                    li Out of the box supports:
                    ul
                        li Basic
                        li Cookie
                    li Also includes Hawk
                    ul
                        li MAC based authetication
                    li passport.js plugin in the works.
                    ul
                        li OAuth for GitHub, Twitter..
            section
                h1 Validation
                img.module(src='img/joi.png')
                ul
                    li Stand alone validation library
                    li Validates JSON Data
                    ul
                        li Type checking Strings, Numbers, Array
                        li Required/Optional
                        li Check against a list of values
                    li API enables grouping of validations into schemas
            section
                h1 Caching
                img.module(src='img/catbox.png')
                ul
                    li Caching and Prefetch hooks
                    li Rule based
                    li Provides engines for:
                    ul
                        li Memory (Experimental)
                        li Redis
                        li MongoDB
            section
                h1 Monitoring
                img.module(src='img/good.png')
                ul
                    li Request Logging
                    li System and process performance
                    li General events
                    li Can be written to:
                    ul
                        li Console
                        li File
                        li HTTP
            section
                h1 Testing
                img.module(src='img/shot.png')
                ul
                    li Request injection
                    li Doesn't require socket connection
                    li Libraries I use to test:
                    ul
                        li mocha
                        li sinon.js
                        li chai
            section
                h1 Batching
                img.module(src='img/bassmaster.png')
                ul
                    li Invoke a batch of operations
                    li Designed for use within mobile applications
                    li Mobile networks SUCK
                    ul
                        li Trains
                        li Large events
                    li Similar boost to combining assets
            section
                h1 Interesting Features
                ul
                    li Request Tails
                    ul
                        li Executed after response completion
                        li Asyncronis
                        li Good for idempotent operations
                    li Per route cache configuration
                    li Live request debugging
            section
                h1 Observations
                ul
                    li New framework
                    li Modular reusable components
                    li API is still a moving target (1.0 soon)
                    li Open to contributions
                    li Prepare to read the code
                    li Documentation needs more examples
            section
                h1 Questions?
                ul
                    li Links
                    ul
                        li http://hapijs.com
                        li http://hueniverse.com/
                        li @wolfeidau on twitter and github
