!!!
html(lang='en')
  head
    include includes/head

  body(class='classic')

    block content

    block scripts
            script(src='/components/bespoke.js/dist/bespoke.min.js')
            script(src='/js/site.js')
